[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.wordprocessingml.document
Name=Changbo_Li_WITG Pitch.docx
Type=Link
URL[$e]=file://$HOME/Documents/Changbo_Li_WITG%20Pitch.docx
X-KDE-LastOpenedWith=kmozillahelper
