[Desktop Entry]
Icon=application-pdf
Name=Math 509X - 03. Vector Calculus.pdf
Type=Link
URL[$e]=file:///tmp/Math%20509X%20-%2003.%20Vector%20Calculus.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
