[Desktop Entry]
Icon=application-pdf
Name=Miami Heat 4152015_1.pdf
Type=Link
URL[$e]=file://$HOME/Downloads/Miami%20Heat%204152015_1.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
