[Desktop Entry]
Icon=application-pdf
Name=regrade_request_15sp.pdf
Type=Link
URL[$e]=file:///tmp/regrade_request_15sp.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
