[Desktop Entry]
X-SuSE-translate=true
Type=Link
URL=file:$HOME/public_html
Icon=package_network
Name=public_html
Comment=public to the world

Open=false
X-KDE-TreeModule=Directory

