[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Type=Link
URL=$HOME
Icon=folder_home
Terminal=false

Name=Home

GenericName=Personal Files
Categories=Qt;KDE;Core;
OnlyShowIn=KDE;

